In [ ]:
<div class="EventDateHeader-styles-event-date-header" data-testid="event-date-header">Freitag, 08.09</div>

In [45]:
# from selenium import webdriver
# import time

# # Starte den Chrome Webdriver (du musst den Webdriver installieren und den Pfad entsprechend anpassen)
# driver = webdriver.Chrome('/path/to/chromedriver')

# # Lade die Webseite
# driver.get('https://sports.tipico.de/de/alle/american-football/usa/nfl')

# # Finde das <div> Element mit der angegebenen Klasse
# div_element = driver.find_element_by_class_name('EventDateHeader-styles-event-date-header')

# # Zugriff auf den Textinhalt des <div> Elements
# div_text = div_element.text
# print(div_text)

# # Schlie√üe den Webdriver
# driver.quit()

In [48]:
from selenium import webdriver
import time
from selenium.webdriver.chrome.service import Service
import pandas as pd

web = 'https://sports.tipico.de/de/alle/american-football/usa/nfl' #you can choose any other league
path = 'D:\\Users\\paulh\\Downloads\\chromedriver_win32\\chromedriver.exe'
service = Service(path)

In [49]:
driver = webdriver.Chrome(service=service)
driver.get(web)
time.sleep(5) #add implicit wait, if necessary
accept = driver.find_element(by='xpath', value='//*[@id="_evidon-accept-button"]')
accept.click()
time.sleep(3) #add implicit wait, if necessary
# accept1 = driver.find_element(by='xpath', value='//*[@id="app"]/main/main/section/div/div[1]/div/div/div/div[5]/div[2]/div')
# accept1.click()
div_element = driver.find_element(by="xpath",value='//*[@id="app"]/main/main/section/div/div[1]/div/div/div')
elements = div_element.find_elements(by="css selector",value='*')

In [51]:
div_element

In [61]:
elements.__len__()

235

In [63]:
liste = []
for element in elements:
    liste.append(element.find_elements(by="css selector",value='*'))

In [99]:
elements[12].find_elements(by="css selector",value='*')[276].text

'San Francisco 49ers'

In [108]:
elements[14].find_elements(by="css selector",value='*')[8].text

'1,32\n3,30'

In [113]:
elements[13].get_attribute('class')

'EventDateHeader-styles-event-date-header'

In [144]:
elements[35].get_attribute('class')

'EventRow-styles-event-row'

In [143]:
elements[35].text

'19:00\nAtlanta Falcons\nCarolina Panthers\n1,65\n2,20\n0:2,5\n1,80\n2,00\n43,5\n1,95\n1,85\n3'

In [147]:
important_elements = {}
for element in elements:
    class_name = element.get_attribute('class')
    if class_name == 'EventDateHeader-styles-event-date-header':
        abbreviation = element.text
        important_elements[abbreviation] = []
    elif class_name == 'EventRow-styles-event-row':
        important_elements[abbreviation].append(element.text)

In [148]:
important_elements

{'Freitag, 08.09': ['02:20\nKansas City Chiefs\nDetroit Lions\n1,32\n3,30\n0:6,5\n1,80\n2,00\n53,5\n1,85\n1,90\n3'],
 'Sonntag, 10.09': ['19:00\nAtlanta Falcons\nCarolina Panthers\n1,65\n2,20\n0:2,5\n1,80\n2,00\n43,5\n1,95\n1,85\n3',
  '19:00\nBaltimore Ravens\nHouston Texans\n1,22\n4,10\n0:8,5\n1,90\n1,85\n44,5\n1,85\n1,90\n3',
  '19:00\nCleveland Browns\nCincinnati Bengals\n2,05\n1,75\n2,5:0\n1,90\n1,85\n46,5\n1,85\n1,95\n3',
  '19:00\nIndianapolis Colts\nJacksonville Jaguars\n2,40\n1,55\n3,5:0\n1,85\n1,95\n43,5\n1,85\n1,90\n3',
  '19:00\nMinnesota Vikings\nTampa Bay Buccan.\n1,32\n3,30\n0:6,5\n1,85\n1,95\n45,5\n1,85\n1,90\n3',
  '19:00\nNew Orleans Saints\nTennessee Titans\n1,52\n2,50\n0:3,5\n1,95\n1,85\n42,5\n1,95\n1,85\n3',
  '19:00\nPittsburgh Steelers\nSan Francisco 49ers\n2,20\n1,65\n2,5:0\n2,00\n1,80\n41,5\n1,85\n1,95\n3']}

In [206]:
columns = ['Time', 'Team1', 'Team2', '1', '2','Date']

In [207]:
df = pd.DataFrame(columns=columns)

In [208]:
df

Empty DataFrame
Columns: [Time, Team1, Team2, 1, 2, Date]
Index: []

In [223]:
# enumarate
for i,j in enumerate(important_elements):
    for k in important_elements[j]:
        data = k.strip().split('\n')[0:5]
        data.append(j)
        df1 = pd.DataFrame([data], columns=columns)
        df = pd.concat([df, df1], ignore_index=True)

In [224]:
df

,Time,Team1,Team2,1,2,Date
0,02:20,Kansas City Chiefs,"1,32","3,30","0:6,5","Freitag, 08.09"
1,19:00,Atlanta Falcons,"1,65","2,20","0:2,5","Sonntag, 10.09"
2,19:00,Baltimore Ravens,"1,22","4,10","0:8,5","Sonntag, 10.09"
3,19:00,Cleveland Browns,"2,05","1,75","2,5:0","Sonntag, 10.09"
4,19:00,Indianapolis Colts,"2,40","1,55","3,5:0","Sonntag, 10.09"
5,19:00,Minnesota Vikings,"1,32","3,30","0:6,5","Sonntag, 10.09"
6,19:00,New Orleans Saints,"1,52","2,50","0:3,5","Sonntag, 10.09"
7,19:00,Pittsburgh Steelers,"2,20","1,65","2,5:0","Sonntag, 10.09"
8,02:20,Kansas City Chiefs,Detroit Lions,"1,32","3,30","Freitag, 08.09"
9,19:00,Atlanta Falcons,Carolina Panthers,"1,65","2,20","Sonntag, 10.09"
10,19:00,Baltimore Ravens,Houston Texans,"1,22","4,10","Sonntag, 10.09"
11,19:00,Cleveland Browns,Cincinnati Bengals,"2,05","1,75","Sonntag, 10.09"
12,19:00,Indianapolis Colts,Jacksonville Jaguars,"2,40","1,55","Sonntag, 10.09"
13,19:00,Minnesota Vikings,Tampa Bay Buccan.,"1,32","3,30","Sonntag, 10.09"
14,19:00,New Orleans Saints,Tennessee Titans,"1,52","2,50","Sonntag, 10.09"
15,19:00,Pittsburgh Steelers,San Francisco 49ers,"2,20","1,65","Sonntag, 10.09"

In [210]:
df

    Time                Team1 Team2     1      2            Date
0  02:20   Kansas City Chiefs  1,32  3,30  0:6,5  Freitag, 08.09
1  19:00      Atlanta Falcons  1,65  2,20  0:2,5  Sonntag, 10.09
2  19:00     Baltimore Ravens  1,22  4,10  0:8,5  Sonntag, 10.09
3  19:00     Cleveland Browns  2,05  1,75  2,5:0  Sonntag, 10.09
4  19:00   Indianapolis Colts  2,40  1,55  3,5:0  Sonntag, 10.09
5  19:00    Minnesota Vikings  1,32  3,30  0:6,5  Sonntag, 10.09
6  19:00   New Orleans Saints  1,52  2,50  0:3,5  Sonntag, 10.09
7  19:00  Pittsburgh Steelers  2,20  1,65  2,5:0  Sonntag, 10.09

In [211]:
important_elements['Freitag, 08.09'][0].strip().split('\n')

['02:20',
 'Kansas City Chiefs',
 'Detroit Lions',
 '1,32',
 '3,30',
 '0:6,5',
 '1,80',
 '2,00',
 '53,5',
 '1,85',
 '1,90',
 '3']

In [199]:
data = important_elements['Freitag, 08.09'][0].strip().split('\n')[0:5]

In [197]:
#liste mit den keys
keys = list(important_elements.keys())

In [198]:
keys

['Freitag, 08.09', 'Sonntag, 10.09']

In [200]:
data.append(keys[0])

In [201]:
data

['02:20',
 'Kansas City Chiefs',
 'Detroit Lions',
 '1,32',
 '3,30',
 'Freitag, 08.09']

In [153]:
import pandas as pd

In [203]:
pd.DataFrame([data], columns=columns)

    Time               Team1          Team2     1     2            Date
0  02:20  Kansas City Chiefs  Detroit Lions  1,32  3,30  Freitag, 08.09