In [2]:
from datetime import datetime
from selenium import webdriver
import time
from selenium.webdriver.chrome.service import Service
import pandas as pd

web = 'https://sports.tipico.de/de/alle/american-football/usa/nfl' #you can choose any other league
path = 'D:\\Users\\paulh\\Downloads\\chromedriver_win32\\chromedriver.exe'
service = Service(path)

In [3]:
driver = webdriver.Chrome(service=service)
driver.get(web)
time.sleep(5) #add implicit wait, if necessary
accept = driver.find_element(by='xpath', value='//*[@id="_evidon-accept-button"]')
accept.click()
time.sleep(3) #add implicit wait, if necessary
# accept1 = driver.find_element(by='xpath', value='//*[@id="app"]/main/main/section/div/div[1]/div/div/div/div[5]/div[2]/div')
# accept1.click()
div_element = driver.find_element(by="xpath",value='//*[@id="app"]/main/main/section/div/div[1]/div/div/div')
elements = div_element.find_elements(by="css selector",value='*')

In [4]:
liste = []
for element in elements:
    liste.append(element.find_elements(by="css selector",value='*'))

In [5]:
liste = []
for element in elements:
    liste.append(element.find_elements(by="css selector",value='*'))
important_elements = {}
for element in elements:
    class_name = element.get_attribute('class')
    if class_name == 'EventDateHeader-styles-event-date-header':
        abbreviation = element.text
        important_elements[abbreviation] = []
    elif class_name == 'EventRow-styles-event-row':
        important_elements[abbreviation].append(element.text)

In [6]:
columns = ['Time', 'Team1', 'Team2', '1', '2','Date','market']
df = pd.DataFrame(columns=columns)
for i in important_elements:
    #print(important_elements[i].__len__()) 
    for j in important_elements[i]:
        data = j.strip().split('\n')[0:5]
        print(data)
        data.append(i)
        data.append('tipico')
        df1 = pd.DataFrame([data], columns=columns)
        df = pd.concat([df, df1], ignore_index=True)
driver.quit()

['02:20', 'Kansas City Chiefs', 'Detroit Lions', '1,32', '3,30']
['19:00', 'Atlanta Falcons', 'Carolina Panthers', '1,65', '2,20']
['19:00', 'Baltimore Ravens', 'Houston Texans', '1,22', '4,10']
['19:00', 'Cleveland Browns', 'Cincinnati Bengals', '2,05', '1,75']
['19:00', 'Indianapolis Colts', 'Jacksonville Jaguars', '2,40', '1,55']
['19:00', 'Minnesota Vikings', 'Tampa Bay Buccan.', '1,32', '3,30']
['19:00', 'New Orleans Saints', 'Tennessee Titans', '1,52', '2,50']
['19:00', 'Pittsburgh Steelers', 'San Francisco 49ers', '2,20', '1,65']

In [7]:
df

,Time,Team1,Team2,1,2,Date,market
0,02:20,Kansas City Chiefs,Detroit Lions,"1,32","3,30","Freitag, 08.09",tipico
1,19:00,Atlanta Falcons,Carolina Panthers,"1,65","2,20","Sonntag, 10.09",tipico
2,19:00,Baltimore Ravens,Houston Texans,"1,22","4,10","Sonntag, 10.09",tipico
3,19:00,Cleveland Browns,Cincinnati Bengals,"2,05","1,75","Sonntag, 10.09",tipico
4,19:00,Indianapolis Colts,Jacksonville Jaguars,"2,40","1,55","Sonntag, 10.09",tipico
5,19:00,Minnesota Vikings,Tampa Bay Buccan.,"1,32","3,30","Sonntag, 10.09",tipico
6,19:00,New Orleans Saints,Tennessee Titans,"1,52","2,50","Sonntag, 10.09",tipico
7,19:00,Pittsburgh Steelers,San Francisco 49ers,"2,20","1,65","Sonntag, 10.09",tipico

In [8]:
web = 'https://sports.betway.de/de/sports/cat/american-football' #you can choose any other league
path = 'D:\\Users\\paulh\\Downloads\\chromedriver_win32\\chromedriver.exe'
service = Service(path)

In [9]:
driver = webdriver.Chrome(service=service)
driver.get(web)
# time.sleep(5) #add implicit wait, if necessary
# accept = driver.find_element(by='xpath', value='//*[@id="_evidon-accept-button"]')
# accept.click()
# time.sleep(3) #add implicit wait, if necessary
# # accept1 = driver.find_element(by='xpath', value='//*[@id="app"]/main/main/section/div/div[1]/div/div/div/div[5]/div[2]/div')
# # accept1.click()
div_element = driver.find_element(by="xpath",value='/html/body/div[1]/div/div[3]/div/div[1]/div/div[2]/div[4]/div/div[2]/div/div[3]/div/div[2]/div/div[3]/div[2]/div')
#elements = div_element.find_elements(by="css selector",value='*')

In [10]:
elements = div_element.find_elements(by="css selector",value='.collapsablePanel')

In [11]:
elements

[<selenium.webdriver.remote.webelement.WebElement (session="f0aef0c58808d6874bed7de3dcea886e", element="0E9875ADB22BCFA80AC045F51B66011E_element_39")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f0aef0c58808d6874bed7de3dcea886e", element="0E9875ADB22BCFA80AC045F51B66011E_element_40")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f0aef0c58808d6874bed7de3dcea886e", element="0E9875ADB22BCFA80AC045F51B66011E_element_41")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f0aef0c58808d6874bed7de3dcea886e", element="0E9875ADB22BCFA80AC045F51B66011E_element_42")>]

In [12]:
columns = ['Time', 'Team1', 'Team2', '1', '2','Date','market']

In [13]:
for i in range(elements.__len__()):
    print(elements[i].find_element(by="css selector",value='.titleText').text)
    for j in range(elements[i].find_elements(by="css selector",value='.eventDetails').__len__()):
       
        liste = elements[i].find_elements(by="css selector",value='.eventDetails')[j].text.split('\n')[0:1]+elements[i].find_elements(by="css selector",value='.eventDetails')[j].text.split('\n')[1].split(' @ ')
        liste = liste + elements[i].find_elements(by="css selector",value='.eventMarket')[j].text.split('\n')[1::2]
        liste.append(elements[i].find_element(by="css selector",value='.titleText').text)
        liste.append('betway')
        df1 = pd.DataFrame([liste], columns=columns)
        df = pd.concat([df, df1], ignore_index=True)
    #liste.append(element.find_elements(by="css selector",value='*'))

Fr, 8.Sep
So, 10.Sep
Mo, 11.Sep
Di, 12.Sep

In [15]:
def date_convert(x):
    aktuelles_jahr = datetime.today().year
    x = x.split(', ')[1]
    y= x.split('.')
    a = y[0]
    b = y[1]
    if b.isdigit():
        a = int(y[0])
        b = int(y[1])
        datum = datetime(aktuelles_jahr, b, a)
    else:
        eingabe_format = "%d.%b"
        string_datum_mit_jahr = f"{x}.{aktuelles_jahr}"
        datum = datetime.strptime(string_datum_mit_jahr, eingabe_format + ".%Y")
    
    return datum

In [16]:
df['Date'] = df['Date'].apply(date_convert)

In [26]:
temp = df.loc[df.market == "betway", "1"].copy()
df.loc[df.market == "betway", "1"] = df.loc[df.market == "betway", "2"]
df.loc[df.market == "betway", "2"] = temp

In [28]:
df["1"] = df["1"].str.replace(",", ".")
df["2"] = df["2"].str.replace(",", ".")
df["1"] = df["1"].astype(float)
df["2"] = df["2"].astype(float)

In [17]:
datum = df.Date.unique()

In [32]:
for i in datum:
    df1 = df[df['Date']==i]
    zeit = df1.Time.unique()
    for j in zeit:
        team1 = df1[df1['Time']==j].Team1.unique()
        for k in team1:
            df1.loc[(df1['Time']==j)&((df1['Team1']==k)|(df1['Team2']==k))]
            a = df1.loc[(df1['Time']==j)&((df1['Team1']==k)|(df1['Team2']==k))]["1"].max()
            b = df1.loc[(df1['Time']==j)&((df1['Team1']==k)|(df1['Team2']==k))]["2"].max()
            if 1/a+1/b < 1:
                print(f"{1/a+1/b}")
                print(f"{i} {j} {k}")

0.837789661319073
2023-09-08T00:00:00.000000000 02:20 Kansas City Chiefs
0.837789661319073
2023-09-08T00:00:00.000000000 02:20 Detroit Lions
0.7786617973131602
2023-09-10T00:00:00.000000000 19:00 Baltimore Ravens
0.9429824561403508
2023-09-10T00:00:00.000000000 19:00 Indianapolis Colts
0.8293460925039873
2023-09-10T00:00:00.000000000 19:00 Minnesota Vikings
0.9263157894736842
2023-09-10T00:00:00.000000000 19:00 New Orleans Saints
0.7786617973131602
2023-09-10T00:00:00.000000000 19:00 Houston Texans
0.9429824561403508
2023-09-10T00:00:00.000000000 19:00 Jacksonville Jaguars
0.9263157894736842
2023-09-10T00:00:00.000000000 19:00 Tennessee Titans

In [34]:
1/1.55+1/2.5

1.0451612903225806

In [23]:
zeit = df.loc[df['Date'] == datum[1]].Time.unique()
team1 = df.loc[(df['Date'] == datum[1]) & (df['Time'] == zeit[0])].Team1.unique()
df.loc[(df['Date'] == datum[1]) & (df['Time'] == zeit[0]) & ((df['Team1'] == team1[0]) | (df['Team2'] == team1[0]))]

    Time              Team1              Team2     1     2       Date  market
1  19:00    Atlanta Falcons  Carolina Panthers  1,65  2,20 2023-09-10  tipico
9  19:00  Carolina Panthers    Atlanta Falcons  2,05  1,80 2023-09-10  betway

In [87]:
df.loc[df.market == "betway"]["1"], df.loc[df.market == "betway"]["2"] = df.loc[df.market == "betway"]["2"], df.loc[df.market == "betway"]["1"]

C:\Users\paulh\AppData\Local\Temp\ipykernel_15548\1896455981.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[df.market == "betway"]["1"], df.loc[df.market == "betway"]["2"] = df.loc[df.market == "betway"]["2"], df.loc[df.market == "betway"]["1"]

In [94]:
temp = df.loc[df.market == "betway", "1"].copy()
df.loc[df.market == "betway", "1"] = df.loc[df.market == "betway", "2"]
df.loc[df.market == "betway", "2"] = temp

In [42]:
datum = df.Date.unique()

In [53]:
zeit = df.loc[df['Date'] == datum[1]].Time.unique()

In [120]:
zeit = df.loc[df['Date'] == datum[1]].Time.unique()

In [122]:
teams = set(map(tuple,df.loc[(df['Date'] == datum[1]) & (df['Time'] == zeit[0])][["Team1", "Team2"]].drop_duplicates().loc[:, ['Team1', 'Team2']].values))

In [124]:
df.loc[(df['Date'] == datum[1]) & (df['Time'] == zeit[0]) & (df['Team1'].isin(teams))]

Empty DataFrame
Columns: [Time, Team1, Team2, 1, 2, Date, market]
Index: []

In [125]:
teams

{('Arizona Cardinals', 'Washington Commanders'),
 ('Atlanta Falcons', 'Carolina Panthers'),
 ('Baltimore Ravens', 'Houston Texans'),
 ('Carolina Panthers', 'Atlanta Falcons'),
 ('Cincinnati Bengals', 'Cleveland Browns'),
 ('Cleveland Browns', 'Cincinnati Bengals'),
 ('Houston Texans', 'Baltimore Ravens'),
 ('Indianapolis Colts', 'Jacksonville Jaguars'),
 ('Jacksonville Jaguars', 'Indianapolis Colts'),
 ('Minnesota Vikings', 'Tampa Bay Buccan.'),
 ('New Orleans Saints', 'Tennessee Titans'),
 ('Pittsburgh Steelers', 'San Francisco 49ers'),
 ('San Francisco 49ers', 'Pittsburgh Steelers'),
 ('Tampa Bay Buccaneers', 'Minnesota Vikings'),
 ('Tennessee Titans', 'New Orleans Saints')}

In [117]:
df.loc[(df['Date'] == datum[1]) & (df['Time'] == zeit[0])][["Team1", "Team2"]]

Empty DataFrame
Columns: [Team1, Team2]
Index: []

In [119]:
df.loc[(df['Date'] == datum[1]) & (df['Time'] == zeit[0])]

Empty DataFrame
Columns: [Time, Team1, Team2, 1, 2, Date, market]
Index: []

In [108]:
idk

In [104]:
for i in idk:
    print(i)

('Atlanta Falcons', 'Carolina Panthers')
('Baltimore Ravens', 'Houston Texans')
('Cleveland Browns', 'Cincinnati Bengals')
('Indianapolis Colts', 'Jacksonville Jaguars')
('Minnesota Vikings', 'Tampa Bay Buccan.')
('New Orleans Saints', 'Tennessee Titans')
('Pittsburgh Steelers', 'San Francisco 49ers')
('Carolina Panthers', 'Atlanta Falcons')
('Houston Texans', 'Baltimore Ravens')
('Cincinnati Bengals', 'Cleveland Browns')
('Jacksonville Jaguars', 'Indianapolis Colts')
('Tampa Bay Buccaneers', 'Minnesota Vikings')
('Tennessee Titans', 'New Orleans Saints')
('San Francisco 49ers', 'Pittsburgh Steelers')
('Arizona Cardinals', 'Washington Commanders')

In [96]:
uno = df.loc[df['Date'] == datum[0]]["1"].max()
dos = df.loc[df['Date'] == datum[0]]["2"].max()
uno = float(uno.replace(',','.'))
dos = float(dos.replace(',','.'))
1/uno + 1/dos

0.837789661319073

In [95]:
df.loc[df['Date'] == datum[0]]

,Time,Team1,Team2,1,2,Date,market
0,02:20,Kansas City Chiefs,Detroit Lions,"1,32","3,30",2023-09-08,tipico
8,02:20,Detroit Lions,Kansas City Chiefs,"1,87","1,95",2023-09-08,betway

In [49]:
uno

1.95